@model BooksMvc.Models.AuthorsViewModel

@{
    ViewBag.Title = "Index";
    var aut = new DataLayer.Models.Author();
}

<h2>Authors</h2>

<p>
    @Ajax.ActionLink("Add an author", "Create", "Authors",
                                           null,
                                           new AjaxOptions
                                           {
                                               InsertionMode = InsertionMode.Replace,
                                               UpdateTargetId = "detailsPanel"
                                           },
                                           new { @class = "btn btn-info"})
</p>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => aut.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => aut.Books)
                </th>
                <th></th>
            </tr>

            @foreach (var author in Model.Authors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => author.Name)
                    </td>
                    <td>
                        @if (author.Books.Count != 0)
                        {
                            foreach (var book in author.Books)
                            {
                                <p>
                                @Ajax.ActionLink(book.Name, "Details", "Books",
                                           new { id = book.Id },
                                           new AjaxOptions
                                           {
                                               InsertionMode = InsertionMode.Replace,
                                               UpdateTargetId = "detailsPanel"
                                           },
                                           //new { @class = "btn btn-info btn-xs"})
                                           null )
                                </p>
                            }
                        }
                        @Ajax.ActionLink("Add a book", "Create", "Books",
                                       null,
                                       //new { id = book.Id },
                                       new AjaxOptions
                                       {
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "detailsPanel"
                                       },
                                       new { @class = "btn btn-info btn-xs"})

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = author.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = author.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = author.Id })
                    </td>
                </tr>
            }

        </table>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12" id="detailsPanel">

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/ajax")
}
